# Local state and database files
*.db
*.sqlite3
*.log
*.pth
config.py
try.py
models/
venv/
datasets/

# Python cache
__pycache__/
.cache

# Rust build
Cargo.lock
target/
**/*.rs.bk

# IDEs and editors
/.idea/
/.vscode/
/*.swp
.vs/

# Executables
assets/start_john.bat
*.exe
*.dll
*.so
*.dylib
