# Python cache and hidden files
__pycache__/
.cache
config.py
try.py
models/
venv/
datasets/

# Rust build
Cargo.lock
target/
**/*.rs.bk

# IDEs and editors
/.idea/
/.vscode/
/*.swp
.vs/

# Executables
assets/start_john.bat
*.exe
*.dll
*.so
*.dylib
