# Ignore Python cache files
__pycache__/
.cache
config.py
try.py

# Rust build
Cargo.lock
target/
**/*.rs.bk

# IDEs and editors
/.idea/
/.vscode/
/*.swp
.vs/

# Executables
assets/start_john.bat
*.exe
*.dll
*.so
*.dylib