<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RPI5 Task Server</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.ico') }}">
</head>
<body>
    <h1>Raspberry PI Control Page</h1>
    
    <form class="chatbox" id="routerbot-form">
        <label>Routerbot:</label><br>
        <div>
            <input type="text" name="message" id="routerbot-input">
            <button type="submit">Ask</button>
        </div>
        
        <div class="response-box" id="routerbot-response" readonly></div>
    </form>

    <form class="chatbox" id="mainbot-form">
        <label>Mainbot:</label><br>
        <div>
            <input type="text" name="message" id="mainbot-input">
            <button type="submit">Ask</button>
        </div>
        
        <div class="response-box" id="mainbot-response" readonly></div>
    </form>

    <form class="chatbox" id="schizobot-form">
        <label>Schizobot:</label><br>
        <div>
            <input type="text" name="message" id="schizobot-input">
            <button type="submit">Ask</button>
        </div>
        
        <div class="response-box" id="schizobot-response"></div>
    </form>
    
    <form class="chatbox" id="sumbot-form">
        <label>Sumbot:</label><br>
        <div>
            <input type="text" name="message" id="sumbot-input">
            <button type="submit">Ask</button>
        </div>
        
        <div class="response-box" id="sumbot-response"></div>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>
